<!DOCTYPE html>
<head>
  <title>Todo App</title>
  <link rel="stylesheet" href="../public/todo.css" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>
  <div class="todo-container">
    <h2>Hello <%= username %>!</h2>
    <div class="todo">
      <form action="/addToDo" method="POST" class="todo-header">
        <input type="text" name="content" required/><button type="submit">
          <span class="fas fa-plus"></span>
        </button>
      </form>
      <ul class="todo-list">
        <% result.forEach(details => { %>
        <li class="todo-list-item">
          <div class="todo-list-item-name"><%= details.content %></div>
          <a href="/edit/<%= details._id %>" class="edit">
            <span class="fas fa-edit"></span></a>
            <a href="/remove/<%= details._id %>" class="remove">
              <span class="fas fa-times"></span>
            </a>
        </li>
        <% }) %>
        <label> <%= message %> </label>
      </ul>
    </div>
  </div>
</body>
